<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
    <div class="container">
        <div class="page-content">
            <div class="margin-bottom">
                <div class="flex" id="top-bar-div">
                    <div class="flex-1" id="app-title-div">
                        <h1 class="app-title">
                            <i class="fa-solid fa-money-bill-trend-up"></i>
                            Stocks
                        </h1>
                    </div>

                    <div class="flex-1 pr" id="search-box-div">
                        <input type="search" class="search-text" placeholder="Search Stocks" name="SearchText" />
                        <i class="fa-solid fa-gear"></i>
                        <button class="button button-blue-back ml login-button">Login</button>
                    </div>
                </div>
            </div>
            <div class="navbar mb">
                <ul>
                    @if (ViewBag.CurrentUrl == "~/Explore")
                    {
                        <li><a asp-controller="Stocks" asp-action="Explore" class="nav-active">Explore</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Stocks" asp-action="Explore">Explore</a></li>
                    }
                    @if (ViewBag.CurrentURL == "~/Trade/Index")
                    {
                        <li><a href="" class="nav-active">Trade</a></li>
                    }
                    else
                    {
                        <li><a href="">Trade</a></li>
                    }
                    @if (ViewBag.CurrentURL == "~/Trade/Orders")
                    {
                        <li><a asp-controller="Trade" asp-action="Orders" class="nav-active">Orders</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Trade" asp-action="Orders">Orders</a></li>
                    }
                </ul>
            </div>
            @RenderBody()
        </div>
    </div>
    @await RenderSectionAsync("Scripts",required: false)
</body>
</html>
