<div class="instructions-screen">
    <div class="text-center mt-3">
        <h1>Beginners Guide</h1>
        <h6>
            You don't need to be rich, famous or have a maths PhD to buy shares.
        </h6>
        <hr />
    </div>
    <section class="guide-container mt-3 container">
        <div class="guide-text container unselectable">
            <h1 class="display-3">Bies Stocks Guide</h1>
            <br />
            <h3>Want to learn how to trade? You're in the right place.</h3>
            <h3>
                <span class="text-success font-italic">Scroll down</span> to view
                some basic concepts and our top 25 active stocks at a given moment.
            </h3>
        </div>
    </section>
    <div class="mt-4 p-5 bg-primary text-white rounded guide-rules-container bg-transparent container mb-0 p-3" >
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <i class="bi bi-arrow-right text-success"></i>
                <strong>Stock symbol</strong> is an abbreviation used to uniquely
                identify publicly traded shares of a particular stock. For example, FB
                is the symbol of Facebook. To search for stocks, visit our Trading
                page and enter the symbol you wish to search.
            </li>
            <li class="list-group-item">
                <i class="bi bi-arrow-right text-success"></i>
                <strong>Percentage change</strong> represents a degree of change over
                time. If the values are
                <span class="text-danger">negative and red</span>, that means that
                the price decreased. If they are
                <span class="text-success">positive and green</span> the price
                increased.
            </li>
            <li class="list-group-item">
                <i class="bi bi-arrow-right text-success"></i>
                <strong>A stock price</strong> is given for every share issued by a
                publicly traded company. The price is a reflection of the company's
                value – what the public is willing to pay for a piece of the company.
            </li>
        </ul>
    </div>
    <vc:popular-stocks></vc:popular-stocks>
</div>

@section Header
{
    <link rel="stylesheet" href="~/css/beginner.css" />
}