<div class="row">
    <div class="col-8 p-0 card shadow border-0 my-4">
        <div class="card-header bg-primary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white pt-2">Explore</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <table id="tblData" class="table table-bordered table-striped w-100">
                <thead>
                    <tr>
                        <th>Stock Symbol</th>
                        <th>Company Name</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="selected-stock-container" class="col-4">
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            loadDataTable("@Url.Action("GetAllStocks", "Api")", "@(Url.Action("Index", "Trade"))/Index");
        })
        
        function showStockDetails(stockSymbol) {
            console.log(stockSymbol);
            $.ajax({
                type: "GET",
                url: "@Url.Action("StockDetailVC","Api")",
                data: { stockSymbol: stockSymbol },
                success: function (result) {
                    $("#selected-stock-container").html(result);
                }
            });
        }
    </script>
}