@model StocksApp.Models.StockTrade
@inject IConfiguration configuration
@{
    ViewBag.Title = "Trade";
}

<div class="box trading-panel">
    <div class="flex trading-panel-flex">
        <div id="stock-price-panel">
            <div class="stock">
                <h1 class="stock-title"><span id="StockName">@Model.StockName</span> (<span id="StockSymbol">@Model.StockSymbol</span>)</h1>
                <h2><small>$</small><span class="price" id="StockPrice">@Model.Price</span></h2>
            </div>
        </div>
    </div>
</div>

<script src="~/JavaScript.js"></script>